interactions:
- request:
    body: request-json=%7B%22apikey%22%3A+%22lyjwakywqahzzjvj%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://nova.astrometry.net/api/login
  response:
    body:
      string: '{"status": "success", "message": "authenticated user: 2215391@mail.ru",
        "session": "muc4ud4inisgn5e237t4y16zcqziauou"}'
    headers:
      Content-Type:
      - text/plain
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://simbad.cds.unistra.fr/simbad/sim-tap/capabilities
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<vosi:capabilities xmlns:vosi=\"http://www.ivoa.net/xml/VOSICapabilities/v1.0\"
        xmlns:tr=\"http://www.ivoa.net/xml/TAPRegExt/v1.0\" xmlns:vr=\"http://www.ivoa.net/xml/VOResource/v1.0\"
        xmlns:vs=\"http://www.ivoa.net/xml/VODataService/v1.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.ivoa.net/xml/VOSICapabilities/v1.0 http://www.ivoa.net/xml/VOSICapabilities/v1.0
        http://www.ivoa.net/xml/TAPRegExt/v1.0 http://www.ivoa.net/xml/TAPRegExt/v1.0
        http://www.ivoa.net/xml/VOResource/v1.0 http://www.ivoa.net/xml/VOResource/v1.0
        http://www.ivoa.net/xml/VODataService/v1.0 http://www.ivoa.net/xml/VODataService/v1.0\">\n<capability
        \ standardID=\"ivo://ivoa.net/std/TAP\" xsi:type=\"tr:TableAccess\">\n\t<interface
        role=\"std\" xsi:type=\"vs:ParamHTTP\">\n\t\t<accessURL use=\"base\">https://simbad.cds.unistra.fr:443/simbad/sim-tap</accessURL>\n\t</interface>\n\t<language>\n\t\t<name>ADQL</name>\n\t\t<version
        ivo-id=\"ivo://ivoa.net/std/ADQL#v2.0\">2.0</version>\n\t\t<description>ADQL
        2.0</description>\n\t\t<languageFeatures type=\"ivo://ivoa.net/std/TAPRegExt#features-udf\">\t\t\t<feature>\t\t\t\t<form>uppercase(str
        VARCHAR) -&gt; VARCHAR</form>\t\t\t\t<description>Put all characters of the
        given string in upper-case.</description>\t\t\t</feature>\t\t\t<feature>\t\t\t\t<form>lowercase(str
        VARCHAR) -&gt; VARCHAR</form>\t\t\t\t<description>Put all characters of the
        given string in lower-case.</description>\t\t\t</feature>\t\t\t<feature>\t\t\t\t<form>normId(id
        VARCHAR) -&gt; VARCHAR</form>\t\t\t\t<description>Normalise the given Simbad's
        object iden[...]
